.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity 0.5s ease;
    z-index: -1;
  }

  &::before {
    background-image: url("/bg-dark.jpg");
  }

  &::after {
    background-image: url("/bg-light.jpg");
    opacity: 0;
  }

  &.light {
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }
}
