.dark-mode-button {
  width: 1.2rem;
  height: 1.2rem;
  background: url("../assets/baseline_bedtime_black_18dp.png") no-repeat center;
  background-size: contain;
  cursor: pointer;
  filter: brightness(0) invert(1);
  opacity: 0.7;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 1;
  }

  &.light {
    background: url("../assets/baseline_brightness_5_black_18dp.png") no-repeat center;
    background-size: contain;
    filter: none;
  }
}
