.app-header {
  background-color: #c7c7c7;
  width: 50%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.2rem;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header-buttons {
    display: flex;
    align-items: center;

    a {
      height: 1.3rem;

      img {
        height: 100%;
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
