body {
  margin: 0;
  font-family: "Cascadia Code";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
  background: linear-gradient(#111616, #293939);
}

@font-face {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: 400;
  src: url("../assets//CascadiaCode.ttf") format("truetype"),
    url("../assets//CascadiaCode.woff2") format("woff2");
}
