.shell {
  width: 50%;
  height: 28rem;
  background-color: #1a1b26;
  color: #7dcfff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 8px 8px;

  &.light {
    background-color: #e5e6eb;
    color: #3760bf;

    input {
      caret-color: #3760bf;
    }
  }

  input {
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 0.95rem;
    height: 1.4rem;
    font-family: "Noto Sans Mono", monospace;
    letter-spacing: 0.5px;
    caret-color: #7dcfff;
  }

  .stdout {
    margin: 0.3rem 0;
    min-height: 1.2rem;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    line-height: 1.4;
    word-break: break-word;
  }
}
