.shell {
  width: 50%;
  height: 28rem;
  background-color: #1a1b26;
  color: #7dcfff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 8px 8px;

  &.light {
    background-color: #e5e6eb;
    color: #3760bf;

    input {
      caret-color: #3760bf;
    }

    .shell-output {
      &::-webkit-scrollbar-thumb {
        background-color: #b0b4c0;
      }
    }
  }

  .shell-output {
    overflow-y: auto;
    width: 100%;
    max-height: 26.7rem;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #414868;
      border-radius: 4px;
    }
  }

  input {
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 0.95rem;
    height: 1.4rem;
    font-family: "Noto Sans Mono", monospace;
    letter-spacing: 0.5px;
    caret-color: #7dcfff;
  }

  .stdout {
    margin: 0.3rem 0;
    min-height: 1.2rem;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    line-height: 1.4;
    word-break: break-word;
    white-space: pre-wrap;
    tab-size: 4;
  }
}
