.shell {
  width: 50%;
  height: 28rem;
  background-color: #212121;
  color: #eaeaea;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 5px 5px;

  input {
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    height: 1rem;
    font-family: "Cascadia Code";
  }

  p {
    margin: 0;
    height: 1rem;
  }
}
