.shell {
  width: 50%;
  height: 28rem;
  background-color: black;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 5px 5px;
  &.light {
    background-color: white;
    color: black;
  }

  input {
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    height: 1rem;
    font-family: "Cascadia Code";
  }

  .stdout {
    margin: 0.2rem 0;
    height: 1rem;
  }
}
